<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>730238166499-mdk8okaq94hpm1anmqaldi6rthn2a995.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.730238166499-mdk8okaq94hpm1anmqaldi6rthn2a995</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>730238166499-pblfl12ragj593bv3qo8s22ollnearnm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAG1_Q4GBOcKz6tVlWSFcidaHM-G0uajL8</string>
	<key>GCM_SENDER_ID</key>
	<string>730238166499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aycom366.exponuggets</string>
	<key>PROJECT_ID</key>
	<string>expo-nuggets</string>
	<key>STORAGE_BUCKET</key>
	<string>expo-nuggets.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730238166499:ios:f01cde067e1258b2446cd6</string>
</dict>
</plist>